zhomes-app/n8n-workflows/00_ZHomes_Master_Workflow.json
{
  "name": "ZHomes - Master Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "realtor-match",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "ZHomes Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        160,
        240
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.client_phone}}",
        "message": "=¡Hola {{$json.body.client_name || 'futuro propietario'}}! Acabas de conectar con {{$json.body.realtor_name}} en la App de ZHomes. Su teléfono es: {{$json.body.realtor_phone}}."
      },
      "name": "SMS al Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        460,
        0
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"\"],\n  \"subject\": \"\",\n  \"html\": \"\"\n}",
        "options": {}
      },
      "name": "Email al Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.realtor_phone}}",
        "message": "=🚨 ¡NUEVO MATCH EN ZHOMES!\nEl cliente {{$json.body.client_name}} te acaba de elegir. Email: {{$json.body.client_email}} Telf: {{$json.body.client_phone}}"
      },
      "name": "SMS al Realtor",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        460,
        360
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"\"],\n  \"subject\": \"\",\n  \"html\": \"\"\n}",
        "options": {}
      },
      "name": "Email al Realtor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zhomes-bookings-events",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Bookings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        1440
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.body.record.status}}",
        "rules": {
          "rules": [
            {
              "value2": "pending",
              "output": 0
            },
            {
              "value2": "confirmed",
              "output": 1
            },
            {
              "value2": "completed",
              "output": 2
            }
          ]
        }
      },
      "name": "Switch Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        360,
        1440
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.realtor.phone}}",
        "message": "=📅 REQUERIMIENTO VISITA: \nTienes una solicitud del cliente {{$json.body.context.client_meta.name || $json.body.record.client_name}} para ver la casa con ID {{$json.body.record.property_id}} el {{$json.body.record.booking_date}}.\nConfírmalo en el App."
      },
      "name": "SMS Pending Realtor",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        1120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"{{$json.body.record.agent_email}}\"],\n  \"subject\": \"Nueva Solicitud de Sesión\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; line-height: 1.6;\\\">    <div style=\\\"background-color: #000; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\\\">        <img src=\\\"https://zhomesapp.com/assets/logo/LOGO%20HRZNTL%201.png\\\" alt=\\\"ZHomes Real Estate\\\" style=\\\"max-height: 60px;\\\">    </div>    <div style=\\\"padding: 30px; background-color: #f9f9f9; border-left: 1px solid #ddd; border-right: 1px solid #ddd;\\\">                <h2 style=\\\"color: #111;\\\">Nueva Solicitud de Sesión</h2>        <p>Hola Realtor,</p>        <p>Tienes una nueva solicitud para una sesión inmobiliaria el <strong>{{$json.body.record.booking_date}}</strong> a las <strong>{{$json.body.record.time_slot}}</strong>.</p>        <p>Propiedad ID: {{$json.body.record.property_id}}</p>        <p>Por favor, ingresa a la aplicación para confirmar o ajustar la sesión lo antes posible.</p>        <div style=\\\"text-align: center; margin: 30px 0;\\\">            <a href=\\\"https://zhomesapp.com/realtors\\\" style=\\\"background-color: #2b70d4; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\\\">Confirmar Sesión</a>        </div>    </div>    <div style=\\\"padding: 20px 30px; background-color: #fff; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px; font-size: 11px; color: #555;\\\">        <p style=\\\"margin: 0 0 10px 0; font-weight: bold; font-size: 13px; color: #000;\\\">            Gilbert Zaldivar | Principal Broker<br>            Kentucky, Indiana & Florida        </p>        <p style=\\\"margin: 0 0 10px 0;\\\">            Direct-(502)641-6623<br>            Office-(502)909-5990<br>            Fax-(606)649-0006<br>            <a href=\\\"mailto:gilbert@zhomesre.com\\\" style=\\\"color: #0066cc;\\\">gilbert@zhomesre.com</a><br>            <a href=\\\"http://www.zhomesre.com\\\" style=\\\"color: #0066cc;\\\">www.zhomesre.com</a><br>            7520 Preston Hwy<br>            Louisville, KY 40219        </p>        <p style=\\\"margin: 0; color: #888; text-align: justify; font-size: 10px;\\\">            <strong style=\\\"color: #cc0000;\\\">Disclaimer:</strong> Periodically, our buyers, sellers, potential buyers, potential sellers, customers, and-or potential customers ask us for names and contact information about lenders, handymen, home inspectors, appraisers and such. It is strongly suggested that the recipient of such information use the information in conjunction with their own research about the suggested contact instead of relying solely upon us. The names provided have done a satisfactory job for us in the past, but by no means it's a blanket endorsement of the person/company. It is also important for the reader to know that we, ZHomes Real Estate or the sender of this e-mail, are not a mortgage lender; therefore, you should contact a lender to understand mortgage products and your eligibility for such products.        </p>    </div></div>\"\n}",
        "options": {}
      },
      "name": "Email Pending Realtor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        1280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=¡Excelente {{$json.body.context.client_meta.name || $json.body.record.client_name}}! Cita confirmada para ver la propiedad el {{$json.body.record.booking_date}}. Tu realtor te contactará con detalles.\n- ZHomes"
      },
      "name": "SMS Confirmed Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        1460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"{{$json.body.record.client_email}}\"],\n  \"subject\": \"Sesión Confirmada\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; line-height: 1.6;\\\">    <div style=\\\"background-color: #000; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\\\">        <img src=\\\"https://zhomesapp.com/assets/logo/LOGO%20HRZNTL%201.png\\\" alt=\\\"ZHomes Real Estate\\\" style=\\\"max-height: 60px;\\\">    </div>    <div style=\\\"padding: 30px; background-color: #f9f9f9; border-left: 1px solid #ddd; border-right: 1px solid #ddd;\\\">                <h2 style=\\\"color: #111;\\\">Sesión Inmobiliaria Confirmada</h2>        <p>¡Excelente!</p>        <p>Tu solicitud de sesión para conocer la propiedad el <strong>{{$json.body.record.booking_date}}</strong> a las <strong>{{$json.body.record.time_slot}}</strong> ha sido procesada.</p>        <p>El realtor designado te contactará muy pronto para afinar detalles.</p>    </div>    <div style=\\\"padding: 20px 30px; background-color: #fff; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px; font-size: 11px; color: #555;\\\">        <p style=\\\"margin: 0 0 10px 0; font-weight: bold; font-size: 13px; color: #000;\\\">            Gilbert Zaldivar | Principal Broker<br>            Kentucky, Indiana & Florida        </p>        <p style=\\\"margin: 0 0 10px 0;\\\">            Direct-(502)641-6623<br>            Office-(502)909-5990<br>            Fax-(606)649-0006<br>            <a href=\\\"mailto:gilbert@zhomesre.com\\\" style=\\\"color: #0066cc;\\\">gilbert@zhomesre.com</a><br>            <a href=\\\"http://www.zhomesre.com\\\" style=\\\"color: #0066cc;\\\">www.zhomesre.com</a><br>            7520 Preston Hwy<br>            Louisville, KY 40219        </p>        <p style=\\\"margin: 0; color: #888; text-align: justify; font-size: 10px;\\\">            <strong style=\\\"color: #cc0000;\\\">Disclaimer:</strong> Periodically, our buyers, sellers, potential buyers, potential sellers, customers, and-or potential customers ask us for names and contact information about lenders, handymen, home inspectors, appraisers and such. It is strongly suggested that the recipient of such information use the information in conjunction with their own research about the suggested contact instead of relying solely upon us. The names provided have done a satisfactory job for us in the past, but by no means it's a blanket endorsement of the person/company. It is also important for the reader to know that we, ZHomes Real Estate or the sender of this e-mail, are not a mortgage lender; therefore, you should contact a lender to understand mortgage products and your eligibility for such products.        </p>    </div></div>\"\n}",
        "options": {}
      },
      "name": "Email Confirmed Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        1620
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=¡Hola {{$json.body.context.client_meta.name || $json.body.record.client_name}}! ¿Te encantó la casa? Si es de tu agrado, entra al app ZHomes y califícate en minutos para meter una Oferta Formal.\nTu equipo ZHomes."
      },
      "name": "SMS Completed Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        1800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"{{$json.body.record.client_email}}\"],\n  \"subject\": \"¿Te encantó la propiedad?\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; line-height: 1.6;\\\">    <div style=\\\"background-color: #000; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\\\">        <img src=\\\"https://zhomesapp.com/assets/logo/LOGO%20HRZNTL%201.png\\\" alt=\\\"ZHomes Real Estate\\\" style=\\\"max-height: 60px;\\\">    </div>    <div style=\\\"padding: 30px; background-color: #f9f9f9; border-left: 1px solid #ddd; border-right: 1px solid #ddd;\\\">                <h2 style=\\\"color: #111;\\\">¿Te encantó la propiedad?</h2>        <p>¡Hola!</p>        <p>Esperamos que tu reciente sesión haya sido excelente.</p>        <p>Si la propiedad fue de tu agrado, recuerda que puedes ingresar a la app de ZHomes para calificar y someter una Oferta Formal en minutos.</p>        <div style=\\\"text-align: center; margin: 30px 0;\\\">            <a href=\\\"https://zhomesapp.com\\\" style=\\\"background-color: #2b70d4; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\\\">Someter Oferta</a>        </div>    </div>    <div style=\\\"padding: 20px 30px; background-color: #fff; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px; font-size: 11px; color: #555;\\\">        <p style=\\\"margin: 0 0 10px 0; font-weight: bold; font-size: 13px; color: #000;\\\">            Gilbert Zaldivar | Principal Broker<br>            Kentucky, Indiana & Florida        </p>        <p style=\\\"margin: 0 0 10px 0;\\\">            Direct-(502)641-6623<br>            Office-(502)909-5990<br>            Fax-(606)649-0006<br>            <a href=\\\"mailto:gilbert@zhomesre.com\\\" style=\\\"color: #0066cc;\\\">gilbert@zhomesre.com</a><br>            <a href=\\\"http://www.zhomesre.com\\\" style=\\\"color: #0066cc;\\\">www.zhomesre.com</a><br>            7520 Preston Hwy<br>            Louisville, KY 40219        </p>        <p style=\\\"margin: 0; color: #888; text-align: justify; font-size: 10px;\\\">            <strong style=\\\"color: #cc0000;\\\">Disclaimer:</strong> Periodically, our buyers, sellers, potential buyers, potential sellers, customers, and-or potential customers ask us for names and contact information about lenders, handymen, home inspectors, appraisers and such. It is strongly suggested that the recipient of such information use the information in conjunction with their own research about the suggested contact instead of relying solely upon us. The names provided have done a satisfactory job for us in the past, but by no means it's a blanket endorsement of the person/company. It is also important for the reader to know that we, ZHomes Real Estate or the sender of this e-mail, are not a mortgage lender; therefore, you should contact a lender to understand mortgage products and your eligibility for such products.        </p>    </div></div>\"\n}",
        "options": {}
      },
      "name": "Email Completed Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        1960
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zhomes-crm-leads-events",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook CRM Leads",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        2880
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.body.record.stage}}",
        "rules": {
          "rules": [
            {
              "value2": "preapproved",
              "output": 0
            },
            {
              "value2": "offer",
              "output": 1
            },
            {
              "value2": "closing",
              "output": 2
            }
          ]
        }
      },
      "name": "Switch Stage",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        360,
        2880
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=¡Enhorabuena {{$json.body.record.name}}! Te has Pre-Aprobado exitosamente. Tu presupuesto hipotecario es Oficial. Entra a ZHomes para que veas todas las casas que puedes comprar hoy.\n-Equipo ZHomes"
      },
      "name": "SMS Preapproved Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        2560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"{{$json.body.record.email}}\"],\n  \"subject\": \"Pre-aprobación completada\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; line-height: 1.6;\\\">    <div style=\\\"background-color: #000; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\\\">        <img src=\\\"https://zhomesapp.com/assets/logo/LOGO%20HRZNTL%201.png\\\" alt=\\\"ZHomes Real Estate\\\" style=\\\"max-height: 60px;\\\">    </div>    <div style=\\\"padding: 30px; background-color: #f9f9f9; border-left: 1px solid #ddd; border-right: 1px solid #ddd;\\\">                <h2 style=\\\"color: #111;\\\">¡Paso Completado: Pre-Aprobado!</h2>        <p>Hola,</p>        <p>Queremos felicitarte porque has sido pre-aprobado exitosamente en nuestro sistema bancario/crediticio.</p>        <p>El siguiente paso es avanzar con una Oferta Formal sobre la propiedad que deseas adquirir. Tu Realtor está a tu disposición para guiarte en este importante paso.</p>    </div>    <div style=\\\"padding: 20px 30px; background-color: #fff; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px; font-size: 11px; color: #555;\\\">        <p style=\\\"margin: 0 0 10px 0; font-weight: bold; font-size: 13px; color: #000;\\\">            Gilbert Zaldivar | Principal Broker<br>            Kentucky, Indiana & Florida        </p>        <p style=\\\"margin: 0 0 10px 0;\\\">            Direct-(502)641-6623<br>            Office-(502)909-5990<br>            Fax-(606)649-0006<br>            <a href=\\\"mailto:gilbert@zhomesre.com\\\" style=\\\"color: #0066cc;\\\">gilbert@zhomesre.com</a><br>            <a href=\\\"http://www.zhomesre.com\\\" style=\\\"color: #0066cc;\\\">www.zhomesre.com</a><br>            7520 Preston Hwy<br>            Louisville, KY 40219        </p>        <p style=\\\"margin: 0; color: #888; text-align: justify; font-size: 10px;\\\">            <strong style=\\\"color: #cc0000;\\\">Disclaimer:</strong> Periodically, our buyers, sellers, potential buyers, potential sellers, customers, and-or potential customers ask us for names and contact information about lenders, handymen, home inspectors, appraisers and such. It is strongly suggested that the recipient of such information use the information in conjunction with their own research about the suggested contact instead of relying solely upon us. The names provided have done a satisfactory job for us in the past, but by no means it's a blanket endorsement of the person/company. It is also important for the reader to know that we, ZHomes Real Estate or the sender of this e-mail, are not a mortgage lender; therefore, you should contact a lender to understand mortgage products and your eligibility for such products.        </p>    </div></div>\"\n}",
        "options": {}
      },
      "name": "Email Preapproved Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        2720
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=¡A cruzar los dedos {{$json.body.record.name}}! Tu oferta formal ha sido sometida exitosamente al vendedor a través de ZHomes.\nTe notificaremos por aquí la respuesta tan rápido como llegue."
      },
      "name": "SMS Offer Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        2900
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"{{$json.body.record.email}}\"],\n  \"subject\": \"Oferta Formal Sometida\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; line-height: 1.6;\\\">    <div style=\\\"background-color: #000; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\\\">        <img src=\\\"https://zhomesapp.com/assets/logo/LOGO%20HRZNTL%201.png\\\" alt=\\\"ZHomes Real Estate\\\" style=\\\"max-height: 60px;\\\">    </div>    <div style=\\\"padding: 30px; background-color: #f9f9f9; border-left: 1px solid #ddd; border-right: 1px solid #ddd;\\\">                <h2 style=\\\"color: #111;\\\">Tu oferta está en revisión</h2>        <p>Hola,</p>        <p>Confirmamos que tu oferta formal ha sido registrada y enviada con éxito.</p>        <p>Estudiaremos todos los documentos y te mantendremos informado sobre la evolución y posibles contraofertas.</p>    </div>    <div style=\\\"padding: 20px 30px; background-color: #fff; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px; font-size: 11px; color: #555;\\\">        <p style=\\\"margin: 0 0 10px 0; font-weight: bold; font-size: 13px; color: #000;\\\">            Gilbert Zaldivar | Principal Broker<br>            Kentucky, Indiana & Florida        </p>        <p style=\\\"margin: 0 0 10px 0;\\\">            Direct-(502)641-6623<br>            Office-(502)909-5990<br>            Fax-(606)649-0006<br>            <a href=\\\"mailto:gilbert@zhomesre.com\\\" style=\\\"color: #0066cc;\\\">gilbert@zhomesre.com</a><br>            <a href=\\\"http://www.zhomesre.com\\\" style=\\\"color: #0066cc;\\\">www.zhomesre.com</a><br>            7520 Preston Hwy<br>            Louisville, KY 40219        </p>        <p style=\\\"margin: 0; color: #888; text-align: justify; font-size: 10px;\\\">            <strong style=\\\"color: #cc0000;\\\">Disclaimer:</strong> Periodically, our buyers, sellers, potential buyers, potential sellers, customers, and-or potential customers ask us for names and contact information about lenders, handymen, home inspectors, appraisers and such. It is strongly suggested that the recipient of such information use the information in conjunction with their own research about the suggested contact instead of relying solely upon us. The names provided have done a satisfactory job for us in the past, but by no means it's a blanket endorsement of the person/company. It is also important for the reader to know that we, ZHomes Real Estate or the sender of this e-mail, are not a mortgage lender; therefore, you should contact a lender to understand mortgage products and your eligibility for such products.        </p>    </div></div>\"\n}",
        "options": {}
      },
      "name": "Email Offer Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        3060
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=🥂 ¡OFICIALMENTE BAJO CONTRATO (CLOSING)!\nFelicidades {{$json.body.record.name}}, tu oferta ha sido aceptada y empezamos el cierre.\nPor favor, contacta a tu Realtor para los últimos pasos.\n-ZHomes"
      },
      "name": "SMS Closing Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        3240
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"{{$json.body.record.email}}\"],\n  \"subject\": \"¡Felicidades, preparate para el cierre!\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; line-height: 1.6;\\\">    <div style=\\\"background-color: #000; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\\\">        <img src=\\\"https://zhomesapp.com/assets/logo/LOGO%20HRZNTL%201.png\\\" alt=\\\"ZHomes Real Estate\\\" style=\\\"max-height: 60px;\\\">    </div>    <div style=\\\"padding: 30px; background-color: #f9f9f9; border-left: 1px solid #ddd; border-right: 1px solid #ddd;\\\">                <h2 style=\\\"color: #111;\\\">¡Felicidades, llegaste al Cierre!</h2>        <p>Hola,</p>        <p>Es un enorme placer informarte que tu trámite ha avanzado a la etapa Final de Cierre.</p>        <p>Agradecemos tu confianza en ZHomes Real Estate. Si tienes alguna duda sobre la firma final, contacta a tu Realtor inmediatamente.</p>    </div>    <div style=\\\"padding: 20px 30px; background-color: #fff; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px; font-size: 11px; color: #555;\\\">        <p style=\\\"margin: 0 0 10px 0; font-weight: bold; font-size: 13px; color: #000;\\\">            Gilbert Zaldivar | Principal Broker<br>            Kentucky, Indiana & Florida        </p>        <p style=\\\"margin: 0 0 10px 0;\\\">            Direct-(502)641-6623<br>            Office-(502)909-5990<br>            Fax-(606)649-0006<br>            <a href=\\\"mailto:gilbert@zhomesre.com\\\" style=\\\"color: #0066cc;\\\">gilbert@zhomesre.com</a><br>            <a href=\\\"http://www.zhomesre.com\\\" style=\\\"color: #0066cc;\\\">www.zhomesre.com</a><br>            7520 Preston Hwy<br>            Louisville, KY 40219        </p>        <p style=\\\"margin: 0; color: #888; text-align: justify; font-size: 10px;\\\">            <strong style=\\\"color: #cc0000;\\\">Disclaimer:</strong> Periodically, our buyers, sellers, potential buyers, potential sellers, customers, and-or potential customers ask us for names and contact information about lenders, handymen, home inspectors, appraisers and such. It is strongly suggested that the recipient of such information use the information in conjunction with their own research about the suggested contact instead of relying solely upon us. The names provided have done a satisfactory job for us in the past, but by no means it's a blanket endorsement of the person/company. It is also important for the reader to know that we, ZHomes Real Estate or the sender of this e-mail, are not a mortgage lender; therefore, you should contact a lender to understand mortgage products and your eligibility for such products.        </p>    </div></div>\"\n}",
        "options": {}
      },
      "name": "Email Closing Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        3400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zhomes-documents-events",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Documents",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        4200
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.body.record.uploader_role}}",
        "rules": {
          "rules": [
            {
              "value2": "client",
              "output": 0
            },
            {
              "value2": "realtor",
              "output": 1
            }
          ]
        }
      },
      "name": "Switch Uploader Role",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        360,
        4200
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.realtor.phone}}",
        "message": "=📄 NUEVO DOCUMENTO (CLIENTE): \nEl cliente {{$json.body.context.client_meta.name}} acaba de subir un documento tipo '{{$json.body.record.document_type}}' a su expediente.\nPor favor, entra al panel de ZHomes para revisarlo."
      },
      "name": "SMS Cliente sube -> Realtor",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        4000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"\"],\n  \"subject\": \"\",\n  \"html\": \"\"\n}",
        "options": {}
      },
      "name": "Email Cliente sube -> Realtor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        4160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "",
        "to": "+15555555555",
        "message": "=📑 DOCUMENTO DE CIERRE (REALTOR):\nEl agente {{$json.body.context.realtor.first_name}} acaba de subir documentación tipo '{{$json.body.record.document_type}}' y requiere revisión de Brokerage.\nRevisa el portal."
      },
      "name": "SMS Realtor sube -> Broker",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        4360
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"\"],\n  \"subject\": \"\",\n  \"html\": \"\"\n}",
        "options": {}
      },
      "name": "Email Realtor sube -> Broker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        4520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "realtor-approval",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Realtor Registration",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        160,
        5120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"zhomesreapp@gmail.com\"],\n  \"subject\": \"Nueva solicitud de Realtor pendiente\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; line-height: 1.6;\\\">    <div style=\\\"background-color: #000; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\\\">        <img src=\\\"https://zhomesapp.com/assets/logo/LOGO%20HRZNTL%201.png\\\" alt=\\\"ZHomes Real Estate\\\" style=\\\"max-height: 60px;\\\">    </div>    <div style=\\\"padding: 30px; background-color: #f9f9f9; border-left: 1px solid #ddd; border-right: 1px solid #ddd;\\\">                <h2 style=\\\"color: #111;\\\">Nueva solicitud de Realtor</h2>        <p>Hola Admin,</p>        <p>El/La agente <strong>{{$json.body.record.full_name}}</strong> ({{$json.body.record.email}}) ha solicitado registrarse en la plataforma y espera aprobación.</p>        <div style=\\\"text-align: center; margin: 30px 0;\\\">            <a href=\\\"https://zhomesre.com/admin\\\" style=\\\"background-color: #2b70d4; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\\\">Ver y Aprobar Perfil</a>        </div>    </div>    <div style=\\\"padding: 20px 30px; background-color: #fff; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px; font-size: 11px; color: #555;\\\">        <p style=\\\"margin: 0 0 10px 0; font-weight: bold; font-size: 13px; color: #000;\\\">            Gilbert Zaldivar | Principal Broker<br>            Kentucky, Indiana & Florida        </p>        <p style=\\\"margin: 0 0 10px 0;\\\">            Direct-(502)641-6623<br>            Office-(502)909-5990<br>            Fax-(606)649-0006<br>            <a href=\\\"mailto:gilbert@zhomesre.com\\\" style=\\\"color: #0066cc;\\\">gilbert@zhomesre.com</a><br>            <a href=\\\"http://www.zhomesre.com\\\" style=\\\"color: #0066cc;\\\">www.zhomesre.com</a><br>            7520 Preston Hwy<br>            Louisville, KY 40219        </p>        <p style=\\\"margin: 0; color: #888; text-align: justify; font-size: 10px;\\\">            <strong style=\\\"color: #cc0000;\\\">Disclaimer:</strong> Periodically, our buyers, sellers, potential buyers, potential sellers, customers, and-or potential customers ask us for names and contact information about lenders, handymen, home inspectors, appraisers and such. It is strongly suggested that the recipient of such information use the information in conjunction with their own research about the suggested contact instead of relying solely upon us. The names provided have done a satisfactory job for us in the past, but by no means it's a blanket endorsement of the person/company. It is also important for the reader to know that we, ZHomes Real Estate or the sender of this e-mail, are not a mortgage lender; therefore, you should contact a lender to understand mortgage products and your eligibility for such products.        </p>    </div></div>\"\n}",
        "options": {}
      },
      "name": "Email Broker Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        5120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "connections": {
    "ZHomes Webhook": {
      "main": [
        [
          {
            "node": "SMS al Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email al Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS al Realtor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email al Realtor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Bookings": {
      "main": [
        [
          {
            "node": "Switch Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Status": {
      "main": [
        [
          {
            "node": "SMS Pending Realtor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Pending Realtor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Confirmed Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Confirmed Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Completed Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Completed Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook CRM Leads": {
      "main": [
        [
          {
            "node": "Switch Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Stage": {
      "main": [
        [
          {
            "node": "SMS Preapproved Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Preapproved Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Offer Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Offer Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Closing Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Closing Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Documents": {
      "main": [
        [
          {
            "node": "Switch Uploader Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Uploader Role": {
      "main": [
        [
          {
            "node": "SMS Cliente sube -> Realtor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Cliente sube -> Realtor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Realtor sube -> Broker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Realtor sube -> Broker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Realtor Registration": {
      "main": [
        [
          {
            "node": "Email Broker Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}