zhomes-app/n8n-workflows/01_ZHomes_Realtor_Match.json
{
  "name": "ZHomes - Realtor Match",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "realtor-match",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "ZHomes Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        160,
        340
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.client_phone}}",
        "message": "=¡Hola {{$json.body.client_name || 'futuro propietario'}}! Acabas de conectar con {{$json.body.realtor_name}} en la App de ZHomes. Su teléfono es: {{$json.body.realtor_phone}}."
      },
      "name": "SMS al Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        460,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"\"],\n  \"subject\": \"\",\n  \"html\": \"\"\n}",
        "options": {}
      },
      "name": "Email al Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.realtor_phone}}",
        "message": "=🚨 ¡NUEVO MATCH EN ZHOMES!\nEl cliente {{$json.body.client_name}} te acaba de elegir. Email: {{$json.body.client_email}} Telf: {{$json.body.client_phone}}"
      },
      "name": "SMS al Realtor",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"\"],\n  \"subject\": \"\",\n  \"html\": \"\"\n}",
        "options": {}
      },
      "name": "Email al Realtor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        620
      ]
    }
  ],
  "connections": {
    "ZHomes Webhook": {
      "main": [
        [
          {
            "node": "SMS al Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email al Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS al Realtor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email al Realtor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}