zhomes-app/n8n-workflows/02_ZHomes_Bookings_Journey.json
{
  "name": "ZHomes - Bookings Journey",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zhomes-bookings-events",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Bookings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.body.record.status}}",
        "rules": {
          "rules": [
            {
              "value2": "pending",
              "output": 0
            },
            {
              "value2": "confirmed",
              "output": 1
            },
            {
              "value2": "completed",
              "output": 2
            }
          ]
        }
      },
      "name": "Switch Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        360,
        300
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.realtor.phone}}",
        "message": "=📅 REQUERIMIENTO VISITA: \nTienes una solicitud del cliente {{$json.body.context.client_meta.name || $json.body.record.client_name}} para ver la casa con ID {{$json.body.record.property_id}} el {{$json.body.record.booking_date}}.\nConfírmalo en el App."
      },
      "name": "SMS Pending Realtor",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"\"],\n  \"subject\": \"\",\n  \"html\": \"\"\n}",
        "options": {}
      },
      "name": "Email Pending Realtor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        140
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=¡Excelente {{$json.body.context.client_meta.name || $json.body.record.client_name}}! Cita confirmada para ver la propiedad el {{$json.body.record.booking_date}}. Tu realtor te contactará con detalles.\n- ZHomes"
      },
      "name": "SMS Confirmed Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"\"],\n  \"subject\": \"\",\n  \"html\": \"\"\n}",
        "options": {}
      },
      "name": "Email Confirmed Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        480
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=¡Hola {{$json.body.context.client_meta.name || $json.body.record.client_name}}! ¿Te encantó la casa? Si es de tu agrado, entra al app ZHomes y califícate en minutos para meter una Oferta Formal.\nTu equipo ZHomes."
      },
      "name": "SMS Completed Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"\"],\n  \"subject\": \"\",\n  \"html\": \"\"\n}",
        "options": {}
      },
      "name": "Email Completed Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        820
      ]
    }
  ],
  "connections": {
    "Webhook Bookings": {
      "main": [
        [
          {
            "node": "Switch Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Status": {
      "main": [
        [
          {
            "node": "SMS Pending Realtor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Pending Realtor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Confirmed Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Confirmed Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Completed Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Completed Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}