zhomes-app/n8n-workflows/02_ZHomes_Bookings_Journey.json
{
  "name": "ZHomes - Bookings Journey",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zhomes-bookings-events",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Bookings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.body.record.status}}",
        "rules": {
          "rules": [
            {
              "value2": "pending",
              "output": 0
            },
            {
              "value2": "confirmed",
              "output": 1
            },
            {
              "value2": "completed",
              "output": 2
            }
          ]
        }
      },
      "name": "Switch Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        360,
        300
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.realtor.phone}}",
        "message": "=📅 REQUERIMIENTO VISITA: \nTienes una solicitud del cliente {{$json.body.context.client_meta.name || $json.body.record.client_name}} para ver la casa con ID {{$json.body.record.property_id}} el {{$json.body.record.booking_date}}.\nConfírmalo en el App."
      },
      "name": "SMS Pending Realtor",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        -20
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"{{$json.body.record.agent_email}}\"],\n  \"subject\": \"Nueva Solicitud de Sesión\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; line-height: 1.6;\\\">    <div style=\\\"background-color: #000; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\\\">        <img src=\\\"https://zhomesapp.com/assets/logo/LOGO%20HRZNTL%201.png\\\" alt=\\\"ZHomes Real Estate\\\" style=\\\"max-height: 60px;\\\">    </div>    <div style=\\\"padding: 30px; background-color: #f9f9f9; border-left: 1px solid #ddd; border-right: 1px solid #ddd;\\\">                <h2 style=\\\"color: #111;\\\">Nueva Solicitud de Sesión</h2>        <p>Hola Realtor,</p>        <p>Tienes una nueva solicitud para una sesión inmobiliaria el <strong>{{$json.body.record.booking_date}}</strong> a las <strong>{{$json.body.record.time_slot}}</strong>.</p>        <p>Propiedad ID: {{$json.body.record.property_id}}</p>        <p>Por favor, ingresa a la aplicación para confirmar o ajustar la sesión lo antes posible.</p>        <div style=\\\"text-align: center; margin: 30px 0;\\\">            <a href=\\\"https://zhomesapp.com/realtors\\\" style=\\\"background-color: #2b70d4; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\\\">Confirmar Sesión</a>        </div>    </div>    <div style=\\\"padding: 20px 30px; background-color: #fff; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px; font-size: 11px; color: #555;\\\">        <p style=\\\"margin: 0 0 10px 0; font-weight: bold; font-size: 13px; color: #000;\\\">            Gilbert Zaldivar | Principal Broker<br>            Kentucky, Indiana & Florida        </p>        <p style=\\\"margin: 0 0 10px 0;\\\">            Direct-(502)641-6623<br>            Office-(502)909-5990<br>            Fax-(606)649-0006<br>            <a href=\\\"mailto:gilbert@zhomesre.com\\\" style=\\\"color: #0066cc;\\\">gilbert@zhomesre.com</a><br>            <a href=\\\"http://www.zhomesre.com\\\" style=\\\"color: #0066cc;\\\">www.zhomesre.com</a><br>            7520 Preston Hwy<br>            Louisville, KY 40219        </p>        <p style=\\\"margin: 0; color: #888; text-align: justify; font-size: 10px;\\\">            <strong style=\\\"color: #cc0000;\\\">Disclaimer:</strong> Periodically, our buyers, sellers, potential buyers, potential sellers, customers, and-or potential customers ask us for names and contact information about lenders, handymen, home inspectors, appraisers and such. It is strongly suggested that the recipient of such information use the information in conjunction with their own research about the suggested contact instead of relying solely upon us. The names provided have done a satisfactory job for us in the past, but by no means it's a blanket endorsement of the person/company. It is also important for the reader to know that we, ZHomes Real Estate or the sender of this e-mail, are not a mortgage lender; therefore, you should contact a lender to understand mortgage products and your eligibility for such products.        </p>    </div></div>\"\n}",
        "options": {}
      },
      "name": "Email Pending Realtor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=¡Excelente {{$json.body.context.client_meta.name || $json.body.record.client_name}}! Cita confirmada para ver la propiedad el {{$json.body.record.booking_date}}. Tu realtor te contactará con detalles.\n- ZHomes"
      },
      "name": "SMS Confirmed Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"{{$json.body.record.client_email}}\"],\n  \"subject\": \"Sesión Confirmada\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; line-height: 1.6;\\\">    <div style=\\\"background-color: #000; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\\\">        <img src=\\\"https://zhomesapp.com/assets/logo/LOGO%20HRZNTL%201.png\\\" alt=\\\"ZHomes Real Estate\\\" style=\\\"max-height: 60px;\\\">    </div>    <div style=\\\"padding: 30px; background-color: #f9f9f9; border-left: 1px solid #ddd; border-right: 1px solid #ddd;\\\">                <h2 style=\\\"color: #111;\\\">Sesión Inmobiliaria Confirmada</h2>        <p>¡Excelente!</p>        <p>Tu solicitud de sesión para conocer la propiedad el <strong>{{$json.body.record.booking_date}}</strong> a las <strong>{{$json.body.record.time_slot}}</strong> ha sido procesada.</p>        <p>El realtor designado te contactará muy pronto para afinar detalles.</p>    </div>    <div style=\\\"padding: 20px 30px; background-color: #fff; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px; font-size: 11px; color: #555;\\\">        <p style=\\\"margin: 0 0 10px 0; font-weight: bold; font-size: 13px; color: #000;\\\">            Gilbert Zaldivar | Principal Broker<br>            Kentucky, Indiana & Florida        </p>        <p style=\\\"margin: 0 0 10px 0;\\\">            Direct-(502)641-6623<br>            Office-(502)909-5990<br>            Fax-(606)649-0006<br>            <a href=\\\"mailto:gilbert@zhomesre.com\\\" style=\\\"color: #0066cc;\\\">gilbert@zhomesre.com</a><br>            <a href=\\\"http://www.zhomesre.com\\\" style=\\\"color: #0066cc;\\\">www.zhomesre.com</a><br>            7520 Preston Hwy<br>            Louisville, KY 40219        </p>        <p style=\\\"margin: 0; color: #888; text-align: justify; font-size: 10px;\\\">            <strong style=\\\"color: #cc0000;\\\">Disclaimer:</strong> Periodically, our buyers, sellers, potential buyers, potential sellers, customers, and-or potential customers ask us for names and contact information about lenders, handymen, home inspectors, appraisers and such. It is strongly suggested that the recipient of such information use the information in conjunction with their own research about the suggested contact instead of relying solely upon us. The names provided have done a satisfactory job for us in the past, but by no means it's a blanket endorsement of the person/company. It is also important for the reader to know that we, ZHomes Real Estate or the sender of this e-mail, are not a mortgage lender; therefore, you should contact a lender to understand mortgage products and your eligibility for such products.        </p>    </div></div>\"\n}",
        "options": {}
      },
      "name": "Email Confirmed Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=¡Hola {{$json.body.context.client_meta.name || $json.body.record.client_name}}! ¿Te encantó la casa? Si es de tu agrado, entra al app ZHomes y califícate en minutos para meter una Oferta Formal.\nTu equipo ZHomes."
      },
      "name": "SMS Completed Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        660
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"{{$json.body.record.client_email}}\"],\n  \"subject\": \"¿Te encantó la propiedad?\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; line-height: 1.6;\\\">    <div style=\\\"background-color: #000; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\\\">        <img src=\\\"https://zhomesapp.com/assets/logo/LOGO%20HRZNTL%201.png\\\" alt=\\\"ZHomes Real Estate\\\" style=\\\"max-height: 60px;\\\">    </div>    <div style=\\\"padding: 30px; background-color: #f9f9f9; border-left: 1px solid #ddd; border-right: 1px solid #ddd;\\\">                <h2 style=\\\"color: #111;\\\">¿Te encantó la propiedad?</h2>        <p>¡Hola!</p>        <p>Esperamos que tu reciente sesión haya sido excelente.</p>        <p>Si la propiedad fue de tu agrado, recuerda que puedes ingresar a la app de ZHomes para calificar y someter una Oferta Formal en minutos.</p>        <div style=\\\"text-align: center; margin: 30px 0;\\\">            <a href=\\\"https://zhomesapp.com\\\" style=\\\"background-color: #2b70d4; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\\\">Someter Oferta</a>        </div>    </div>    <div style=\\\"padding: 20px 30px; background-color: #fff; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px; font-size: 11px; color: #555;\\\">        <p style=\\\"margin: 0 0 10px 0; font-weight: bold; font-size: 13px; color: #000;\\\">            Gilbert Zaldivar | Principal Broker<br>            Kentucky, Indiana & Florida        </p>        <p style=\\\"margin: 0 0 10px 0;\\\">            Direct-(502)641-6623<br>            Office-(502)909-5990<br>            Fax-(606)649-0006<br>            <a href=\\\"mailto:gilbert@zhomesre.com\\\" style=\\\"color: #0066cc;\\\">gilbert@zhomesre.com</a><br>            <a href=\\\"http://www.zhomesre.com\\\" style=\\\"color: #0066cc;\\\">www.zhomesre.com</a><br>            7520 Preston Hwy<br>            Louisville, KY 40219        </p>        <p style=\\\"margin: 0; color: #888; text-align: justify; font-size: 10px;\\\">            <strong style=\\\"color: #cc0000;\\\">Disclaimer:</strong> Periodically, our buyers, sellers, potential buyers, potential sellers, customers, and-or potential customers ask us for names and contact information about lenders, handymen, home inspectors, appraisers and such. It is strongly suggested that the recipient of such information use the information in conjunction with their own research about the suggested contact instead of relying solely upon us. The names provided have done a satisfactory job for us in the past, but by no means it's a blanket endorsement of the person/company. It is also important for the reader to know that we, ZHomes Real Estate or the sender of this e-mail, are not a mortgage lender; therefore, you should contact a lender to understand mortgage products and your eligibility for such products.        </p>    </div></div>\"\n}",
        "options": {}
      },
      "name": "Email Completed Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        820
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook Bookings": {
      "main": [
        [
          {
            "node": "Switch Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Status": {
      "main": [
        [
          {
            "node": "SMS Pending Realtor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Pending Realtor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Confirmed Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Confirmed Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Completed Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Completed Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}