zhomes-app/n8n-workflows/03_ZHomes_CRM_Leads_Journey.json
{
  "name": "ZHomes - CRM Leads Journey",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zhomes-crm-leads-events",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook CRM Leads",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.body.record.stage}}",
        "rules": {
          "rules": [
            {
              "value2": "preapproved",
              "output": 0
            },
            {
              "value2": "offer",
              "output": 1
            },
            {
              "value2": "closing",
              "output": 2
            }
          ]
        }
      },
      "name": "Switch Stage",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        360,
        300
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=¡Enhorabuena {{$json.body.record.name}}! Te has Pre-Aprobado exitosamente. Tu presupuesto hipotecario es Oficial. Entra a ZHomes para que veas todas las casas que puedes comprar hoy.\n-Equipo ZHomes"
      },
      "name": "SMS Preapproved Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <gilbert@gzhomes.com>\",\n  \"to\": [\"{{$json.body.record.email}}\"],\n  \"subject\": \"¡Estas Oficialmente Pre-Aprobado!\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; background-color: #ffffff;\\\"><div style=\\\"background-color: #000000; padding: 20px; text-align: center;\\\"><h1 style=\\\"color: #ffffff; margin: 0; font-size: 24px; letter-spacing: 2px;\\\">ZHOMES</h1></div><div style=\\\"padding: 30px; color: #333333; line-height: 1.6; font-size: 16px;\\\"><p>¡Enhorabuena <b>{{$json.body.record.name}}</b>!</p><p>Te has Pre-Aprobado exitosamente para tu préstamo hipotecario. Tu presupuesto es Oficial.</p><p>Entra a ZHomes para que veas todas las casas que puedes comprar hoy.</p></div><div style=\\\"background-color: #f7f7f7; padding: 20px; text-align: center; color: #777777; font-size: 12px; border-top: 1px solid #e0e0e0;\\\"><p style=\\\"margin: 0;\\\"><strong>ZHomes Real Estate</strong></p><p style=\\\"margin: 5px 0;\\\">7520 Preston Highway, Louisville, KY 40219</p><p style=\\\"margin: 5px 0;\\\">502-641-6623 | gilbert@gzhomes.com</p></div></div>\"\n}",
        "options": {}
      },
      "name": "Email Preapproved Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        140
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=¡A cruzar los dedos {{$json.body.record.name}}! Tu oferta formal ha sido sometida exitosamente al vendedor a través de ZHomes.\nTe notificaremos por aquí la respuesta tan rápido como llegue."
      },
      "name": "SMS Offer Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <gilbert@gzhomes.com>\",\n  \"to\": [\"{{$json.body.record.email}}\"],\n  \"subject\": \"¡Tu Oferta Formal de Compra ha sido Emitida!\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; background-color: #ffffff;\\\"><div style=\\\"background-color: #000000; padding: 20px; text-align: center;\\\"><h1 style=\\\"color: #ffffff; margin: 0; font-size: 24px; letter-spacing: 2px;\\\">ZHOMES</h1></div><div style=\\\"padding: 30px; color: #333333; line-height: 1.6; font-size: 16px;\\\"><p>¡A cruzar los dedos <b>{{$json.body.record.name}}</b>!</p><p>Tu oferta formal de compra ha sido sometida exitosamente al vendedor a través de ZHomes.</p><p>Te notificaremos por aquí la respuesta tan rápido como llegue.</p></div><div style=\\\"background-color: #f7f7f7; padding: 20px; text-align: center; color: #777777; font-size: 12px; border-top: 1px solid #e0e0e0;\\\"><p style=\\\"margin: 0;\\\"><strong>ZHomes Real Estate</strong></p><p style=\\\"margin: 5px 0;\\\">7520 Preston Highway, Louisville, KY 40219</p><p style=\\\"margin: 5px 0;\\\">502-641-6623 | gilbert@gzhomes.com</p></div></div>\"\n}",
        "options": {}
      },
      "name": "Email Offer Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        480
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.client_meta.phone}}",
        "message": "=🥂 ¡OFICIALMENTE BAJO CONTRATO (CLOSING)!\nFelicidades {{$json.body.record.name}}, tu oferta ha sido aceptada y empezamos el cierre.\nPor favor, contacta a tu Realtor para los últimos pasos.\n-ZHomes"
      },
      "name": "SMS Closing Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <gilbert@gzhomes.com>\",\n  \"to\": [\"{{$json.body.record.email}}\"],\n  \"subject\": \"🥂 ¡OFICIALMENTE BAJO CONTRATO!\",\n  \"html\": \"<div style=\\\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; background-color: #ffffff;\\\"><div style=\\\"background-color: #000000; padding: 20px; text-align: center;\\\"><h1 style=\\\"color: #ffffff; margin: 0; font-size: 24px; letter-spacing: 2px;\\\">ZHOMES</h1></div><div style=\\\"padding: 30px; color: #333333; line-height: 1.6; font-size: 16px;\\\"><p>¡Felicidades <b>{{$json.body.record.name}}</b>!</p><p>Tu oferta ha sido aceptada y empezamos el proceso de cierre (Under Contract).</p><p>Por favor, contacta a tu Realtor para los últimos pasos de Título y Escrow.</p></div><div style=\\\"background-color: #f7f7f7; padding: 20px; text-align: center; color: #777777; font-size: 12px; border-top: 1px solid #e0e0e0;\\\"><p style=\\\"margin: 0;\\\"><strong>ZHomes Real Estate</strong></p><p style=\\\"margin: 5px 0;\\\">7520 Preston Highway, Louisville, KY 40219</p><p style=\\\"margin: 5px 0;\\\">502-641-6623 | gilbert@gzhomes.com</p></div></div>\"\n}",
        "options": {}
      },
      "name": "Email Closing Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        820
      ]
    }
  ],
  "connections": {
    "Webhook CRM Leads": {
      "main": [
        [
          {
            "node": "Switch Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Stage": {
      "main": [
        [
          {
            "node": "SMS Preapproved Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Preapproved Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Offer Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Offer Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Closing Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Closing Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}