zhomes-app/n8n-workflows/04_ZHomes_Documents_Journey.json
{
  "name": "ZHomes - Documents Journey",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zhomes-documents-events",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Documents",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.body.record.uploader_role}}",
        "rules": {
          "rules": [
            {
              "value2": "client",
              "output": 0
            },
            {
              "value2": "realtor",
              "output": 1
            }
          ]
        }
      },
      "name": "Switch Uploader Role",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        360,
        300
      ]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{$json.body.context.realtor.phone}}",
        "message": "=📄 NUEVO DOCUMENTO (CLIENTE): \nEl cliente {{$json.body.context.client_meta.name}} acaba de subir un documento tipo '{{$json.body.record.document_type}}' a su expediente.\nPor favor, entra al panel de ZHomes para revisarlo."
      },
      "name": "SMS Cliente sube -> Realtor",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"\"],\n  \"subject\": \"\",\n  \"html\": \"\"\n}",
        "options": {}
      },
      "name": "Email Cliente sube -> Realtor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "",
        "to": "+15555555555",
        "message": "=📑 DOCUMENTO DE CIERRE (REALTOR):\nEl agente {{$json.body.context.realtor.first_name}} acaba de subir documentación tipo '{{$json.body.record.document_type}}' y requiere revisión de Brokerage.\nRevisa el portal."
      },
      "name": "SMS Realtor sube -> Broker",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        680,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"ZHomes Real Estate <info@zhomesapp.com>\",\n  \"to\": [\"\"],\n  \"subject\": \"\",\n  \"html\": \"\"\n}",
        "options": {}
      },
      "name": "Email Realtor sube -> Broker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        620
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2zdinv0bNrZyUSN",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook Documents": {
      "main": [
        [
          {
            "node": "Switch Uploader Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Uploader Role": {
      "main": [
        [
          {
            "node": "SMS Cliente sube -> Realtor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Cliente sube -> Realtor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Realtor sube -> Broker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Realtor sube -> Broker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}